CONFIG_COMPAT_VDSO=y
CONFIG_THUMB2_COMPAT_VDSO=y
# CONFIG_FAKE_UNAME_NONE is not set
CONFIG_FAKE_UNAME_5_10=y

#
# Zram LZ4P
#
CONFIG_ZRAM_DEF_COMP_LZ4P=y
CONFIG_ZRAM_BACKEND_ZSTD=y
CONFIG_ZRAM_DEF_COMP="lz4p"
CONFIG_ZRAM_LZ4P=y

#
# KernelSU
#
CONFIG_KSU=y
CONFIG_KSU_SUSFS=y
CONFIG_KSU_HACK_ARM64_BRANCH_LINK=y
# CONFIG_KSU_TAMPER_SYSCALL_TABLE is not set
CONFIG_KSU_LSM_SECURITY_HOOKS=y
CONFIG_KSU_THRONE_TRACKER_ALWAYS_THREADED=y
# CONFIG_KSU_DEBUG is not set
