CONFIG_COMPAT_VDSO=y
CONFIG_THUMB2_COMPAT_VDSO=y

#
# Nothing DT
#
CONFIG_NOTHING=y
CONFIG_NOTHING_SPACEWAR=y

#
# KernelSU
#
CONFIG_KSU=y
CONFIG_KSU_HACK_ARM64_BRANCH_LINK=y
# CONFIG_KSU_TAMPER_SYSCALL_TABLE is not set
CONFIG_KSU_LSM_SECURITY_HOOKS=y
CONFIG_KSU_THRONE_TRACKER_ALWAYS_THREADED=y
# CONFIG_KSU_DEBUG is not set