CONFIG_KALLSYMS_ALL=y
CONFIG_COMPAT_VDSO=y
CONFIG_THUMB2_COMPAT_VDSO=y
CONFIG_LTO=y
CONFIG_LTO_CLANG=y
CONFIG_LTO_CLANG_FULL=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
# CONFIG SHADOW_CALL_STACK is not set
# CONFIG_FAKE_UNAME_NONE is not set
CONFIG_FAKE_UNAME_5_10=y

#
# Zram LZ4P
#
# CONFIG SHADOW_CALL_STACK is not set
# CONFIG_ZRAM_BACKEND_LZ4HC is not set
# CONFIG_ZRAM_BACKEND_ZSTD is not set
# CONFIG_ZRAM_BACKEND_DEFLATE is not set
# CONFIG_ZRAM_BACKEND_842 is not set
# CONFIG_ZRAM_BACKEND_LZO is not set
CONFIG_ZRAM_DEF_COMP_LZ4P=y
# CONFIG_ZRAM_DEF_COMP_LZ4 is not set
CONFIG_ZRAM_DEF_COMP="lz4p"
# CONFIG_ZRAM_WRITEBACK is not set
# CONFIG_ZRAM_MULTI_COMP is not set
CONFIG_ZRAM_LZ4P=y

#
# KernelSU
#
CONFIG_KSU=y
CONFIG_KSU_HACK_ARM64_BRANCH_LINK=y
# CONFIG_KSU_DEBUG is not set
CONFIG_KSU_THRONE_TRACKER_ALWAYS_THREADED=y
CONFIG_KSU_LSM_SECURITY_HOOKS=y

#
# KernelSU - SUSFS
#
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y